{
  "openapi": "3.1.0",
  "info": {
    "title": "Train Travel API",
    "description": "API for finding and booking train trips across Europe.\n\n## Run in Postman\n\nExperiment with this API in Postman, using our Postman Collection.\n\n[![Run In Postman](https://run.pstmn.io/button.svg =128pxx32px)](https://app.getpostman.com/run-collection/9265903-7a75a0d0-b108-4436-ba54-c6139698dc08?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D9265903-7a75a0d0-b108-4436-ba54-c6139698dc08%26entityType%3Dcollection%26workspaceId%3Df507f69d-9564-419c-89a2-cb8e4c8c7b8f)\n",
    "version": "1.2.1",
    "contact": {
      "name": "Train Support",
      "url": "https://example.com/support",
      "email": "support@example.com"
    },
    "license": {
      "name": "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International",
      "identifier": "CC-BY-NC-SA-4.0"
    },
    "x-feedbackLink": {
      "label": "Submit Feedback",
      "url": "https://github.com/bump-sh-examples/train-travel-api/issues/new"
    }
  },
  "servers": [
    {
      "url": "https://try.microcks.io/rest/Train+Travel+API/1.0.0",
      "description": "Mock Server",
      "x-internal": false
    },
    {
      "url": "https://api.example.com",
      "description": "Production",
      "x-internal": false
    }
  ],
  "security": [
    {
      "OAuth2": [
        "read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Stations",
      "description": "Find and filter train stations across Europe, including their location\nand local timezone.\n"
    },
    {
      "name": "Trips",
      "description": "Timetables and routes for train trips between stations, including pricing\nand availability.\n"
    },
    {
      "name": "Bookings",
      "description": "Create and manage bookings for train trips, including passenger details\nand optional extras.\n"
    },
    {
      "name": "Payments",
      "description": "Pay for bookings using a card or bank account, and view payment\nstatus and history.\n\n> warn\n> Bookings usually expire within 1 hour so you'll need to make your payment\n> before the expiry date \n"
    }
  ],
  "paths": {
    "/stations": {
      "get": {
        "summary": "Get a list of train stations",
        "description": "Returns a paginated and searchable list of all train stations.",
        "operationId": "get-stations",
        "tags": [
          "Stations"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "example": 10
          },
          {
            "name": "coordinates",
            "in": "query",
            "description": "The latitude and longitude of the user's location, to narrow down the search results to sites within a proximity of this location.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "52.5200,13.4050"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term to filter the list of stations by name or address.\n",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Milano Centrale",
                "Paris"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter stations by country code",
            "required": false,
            "schema": {
              "type": "string",
              "format": "iso-country-code"
            },
            "example": "DE"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "The Cache-Control header communicates directives for caching mechanisms in both requests and responses. \nIt is used to specify the caching directives in responses to prevent caches from storing sensitive information.\n",
                "schema": {
                  "type": "string",
                  "description": "A comma-separated list of directives as defined in [RFC 9111](https://www.rfc-editor.org/rfc/rfc9111.html).",
                  "examples": [
                    "max-age=3600",
                    "max-age=604800, public",
                    "no-store",
                    "no-cache",
                    "private"
                  ]
                }
              },
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "This is a generic request/response wrapper which contains both data and links which serve as hypermedia controls (HATEOAS).",
                      "type": "object",
                      "properties": {
                        "data": {
                          "description": "The wrapper for a collection is an array of objects.",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "links": {
                          "description": "A set of hypermedia links which serve as controls for the client.",
                          "type": "object",
                          "readOnly": true
                        }
                      },
                      "xml": {
                        "name": "data"
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "description": "A train station.",
                            "type": "object",
                            "xml": {
                              "name": "station"
                            },
                            "required": [
                              "id",
                              "name",
                              "address",
                              "country_code"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Unique identifier for the station.",
                                "examples": [
                                  "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                                  "b2e783e1-c824-4d63-b37a-d8d698862f1d"
                                ]
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the station",
                                "examples": [
                                  "Berlin Hauptbahnhof",
                                  "Paris Gare du Nord"
                                ]
                              },
                              "address": {
                                "type": "string",
                                "description": "The address of the station.",
                                "examples": [
                                  "Invalidenstraße 10557 Berlin, Germany",
                                  "18 Rue de Dunkerque 75010 Paris, France"
                                ]
                              },
                              "country_code": {
                                "type": "string",
                                "description": "The country code of the station.",
                                "format": "iso-country-code",
                                "examples": [
                                  "DE",
                                  "FR"
                                ]
                              },
                              "timezone": {
                                "type": "string",
                                "description": "The timezone of the station in the [IANA Time Zone Database format](https://www.iana.org/time-zones).",
                                "examples": [
                                  "Europe/Berlin",
                                  "Europe/Paris"
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "links": {
                          "allOf": [
                            {
                              "description": "The link to the current resource.",
                              "type": "object",
                              "properties": {
                                "self": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            },
                            {
                              "description": "Links to the next and previous pages of a paginated response.",
                              "type": "object",
                              "properties": {
                                "next": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "prev": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                      "name": "Berlin Hauptbahnhof",
                      "address": "Invalidenstraße 10557 Berlin, Germany",
                      "country_code": "DE",
                      "timezone": "Europe/Berlin"
                    },
                    {
                      "id": "b2e783e1-c824-4d63-b37a-d8d698862f1d",
                      "name": "Paris Gare du Nord",
                      "address": "18 Rue de Dunkerque 75010 Paris, France",
                      "country_code": "FR",
                      "timezone": "Europe/Paris"
                    }
                  ],
                  "links": {
                    "self": "https://api.example.com/stations&page=2",
                    "next": "https://api.example.com/stations?page=3",
                    "prev": "https://api.example.com/stations?page=1"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "description": "This is a generic request/response wrapper which contains both data and links which serve as hypermedia controls (HATEOAS).",
                      "type": "object",
                      "properties": {
                        "data": {
                          "description": "The wrapper for a collection is an array of objects.",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "links": {
                          "description": "A set of hypermedia links which serve as controls for the client.",
                          "type": "object",
                          "readOnly": true
                        }
                      },
                      "xml": {
                        "name": "data"
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "xml": {
                            "name": "stations",
                            "wrapped": true
                          },
                          "items": {
                            "description": "A train station.",
                            "type": "object",
                            "xml": {
                              "name": "station"
                            },
                            "required": [
                              "id",
                              "name",
                              "address",
                              "country_code"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Unique identifier for the station.",
                                "examples": [
                                  "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                                  "b2e783e1-c824-4d63-b37a-d8d698862f1d"
                                ]
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the station",
                                "examples": [
                                  "Berlin Hauptbahnhof",
                                  "Paris Gare du Nord"
                                ]
                              },
                              "address": {
                                "type": "string",
                                "description": "The address of the station.",
                                "examples": [
                                  "Invalidenstraße 10557 Berlin, Germany",
                                  "18 Rue de Dunkerque 75010 Paris, France"
                                ]
                              },
                              "country_code": {
                                "type": "string",
                                "description": "The country code of the station.",
                                "format": "iso-country-code",
                                "examples": [
                                  "DE",
                                  "FR"
                                ]
                              },
                              "timezone": {
                                "type": "string",
                                "description": "The timezone of the station in the [IANA Time Zone Database format](https://www.iana.org/time-zones).",
                                "examples": [
                                  "Europe/Berlin",
                                  "Europe/Paris"
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "links": {
                          "allOf": [
                            {
                              "description": "The link to the current resource.",
                              "type": "object",
                              "properties": {
                                "self": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            },
                            {
                              "description": "Links to the next and previous pages of a paginated response.",
                              "type": "object",
                              "properties": {
                                "next": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "prev": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "The request is invalid or missing required parameters."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "The request is invalid or missing required parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "You do not have the necessary permissions."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "You do not have the necessary permissions."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/forbidden",
                  "title": "Forbidden",
                  "status": 403,
                  "detail": "Access is forbidden with the provided credentials."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/forbidden",
                  "title": "Forbidden",
                  "status": 403,
                  "detail": "Access is forbidden with the provided credentials."
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              },
              "Retry-After": {
                "description": "The Retry-After header indicates how long the user agent should wait before making a follow-up request. \nThe value is in seconds and can be an integer or a date in the future. \nIf the value is an integer, it indicates the number of seconds to wait. \nIf the value is a date, it indicates the time at which the user agent should make a follow-up request. \n",
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "integer": {
                    "value": "120",
                    "summary": "Retry after 120 seconds"
                  },
                  "date": {
                    "value": "Fri, 31 Dec 2021 23:59:59 GMT",
                    "summary": "Retry after the specified date"
                  }
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/too-many-requests",
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "You have exceeded the rate limit."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/too-many-requests",
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "You have exceeded the rate limit."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/internal-server-error",
                  "title": "Internal Server Error",
                  "status": 500,
                  "detail": "An unexpected error occurred."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/internal-server-error",
                  "title": "Internal Server Error",
                  "status": 500,
                  "detail": "An unexpected error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/trips": {
      "get": {
        "summary": "Get available train trips",
        "description": "Returns a list of available train trips between the specified origin and destination stations on the given date, and allows for filtering by bicycle and dog allowances.\n",
        "operationId": "get-trips",
        "tags": [
          "Trips"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "example": 10
          },
          {
            "name": "origin",
            "in": "query",
            "description": "The ID of the origin station",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "The ID of the destination station",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "b2e783e1-c824-4d63-b37a-d8d698862f1d"
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date and time of the trip in ISO 8601 format in origin station's timezone.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-02-01T09:00:00Z"
          },
          {
            "name": "bicycles",
            "in": "query",
            "description": "Only return trips where bicycles are known to be allowed",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "dogs",
            "in": "query",
            "description": "Only return trips where dogs are known to be allowed",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available train trips",
            "headers": {
              "Cache-Control": {
                "description": "The Cache-Control header communicates directives for caching mechanisms in both requests and responses. \nIt is used to specify the caching directives in responses to prevent caches from storing sensitive information.\n",
                "schema": {
                  "type": "string",
                  "description": "A comma-separated list of directives as defined in [RFC 9111](https://www.rfc-editor.org/rfc/rfc9111.html).",
                  "examples": [
                    "max-age=3600",
                    "max-age=604800, public",
                    "no-store",
                    "no-cache",
                    "private"
                  ]
                }
              },
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "This is a generic request/response wrapper which contains both data and links which serve as hypermedia controls (HATEOAS).",
                      "type": "object",
                      "properties": {
                        "data": {
                          "description": "The wrapper for a collection is an array of objects.",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "links": {
                          "description": "A set of hypermedia links which serve as controls for the client.",
                          "type": "object",
                          "readOnly": true
                        }
                      },
                      "xml": {
                        "name": "data"
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "description": "A train trip.",
                                "type": "object",
                                "xml": {
                                  "name": "trip"
                                },
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "Unique identifier for the trip",
                                    "examples": [
                                      "4f4e4e1-c824-4d63-b37a-d8d698862f1d"
                                    ]
                                  },
                                  "origin": {
                                    "type": "string",
                                    "description": "The starting station of the trip",
                                    "examples": [
                                      "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                                      "b2e783e1-c824-4d63-b37a-d8d698862f1d"
                                    ]
                                  },
                                  "destination": {
                                    "type": "string",
                                    "description": "The destination station of the trip",
                                    "examples": [
                                      "b2e783e1-c824-4d63-b37a-d8d698862f1d",
                                      "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e"
                                    ]
                                  },
                                  "departure_time": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The date and time when the trip departs",
                                    "examples": [
                                      "2024-02-01T10:00:00Z"
                                    ]
                                  },
                                  "arrival_time": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The date and time when the trip arrives",
                                    "examples": [
                                      "2024-02-01T16:00:00Z"
                                    ]
                                  },
                                  "operator": {
                                    "type": "string",
                                    "description": "The name of the operator of the trip",
                                    "examples": [
                                      "Deutsche Bahn",
                                      "SNCF"
                                    ]
                                  },
                                  "price": {
                                    "type": "number",
                                    "description": "The cost of the trip",
                                    "examples": [
                                      50
                                    ]
                                  },
                                  "bicycles_allowed": {
                                    "type": "boolean",
                                    "description": "Indicates whether bicycles are allowed on the trip"
                                  },
                                  "dogs_allowed": {
                                    "type": "boolean",
                                    "description": "Indicates whether dogs are allowed on the trip"
                                  }
                                }
                              },
                              {
                                "description": "The link to the origin station resource.",
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              },
                              {
                                "description": "The link to the destination station resource.",
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "links": {
                          "allOf": [
                            {
                              "description": "The link to the current resource.",
                              "type": "object",
                              "properties": {
                                "self": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            },
                            {
                              "description": "Links to the next and previous pages of a paginated response.",
                              "type": "object",
                              "properties": {
                                "next": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "prev": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "ea399ba1-6d95-433f-92d1-83f67b775594",
                      "origin": "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                      "destination": "b2e783e1-c824-4d63-b37a-d8d698862f1d",
                      "departure_time": "2024-02-01T10:00:00Z",
                      "arrival_time": "2024-02-01T16:00:00Z",
                      "price": 50,
                      "operator": "Deutsche Bahn",
                      "bicycles_allowed": true,
                      "dogs_allowed": true,
                      "links": {
                        "self": "https://api.example.com/trips/ea399ba1-6d95-433f-92d1-83f67b775594",
                        "origin": "https://api.example.com/stations/efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                        "destination": "https://api.example.com/stations/b2e783e1-c824-4d63-b37a-d8d698862f1d"
                      }
                    },
                    {
                      "id": "4d67459c-af07-40bb-bb12-178dbb88e09f",
                      "origin": "b2e783e1-c824-4d63-b37a-d8d698862f1d",
                      "destination": "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                      "departure_time": "2024-02-01T12:00:00Z",
                      "arrival_time": "2024-02-01T18:00:00Z",
                      "price": 50,
                      "operator": "SNCF",
                      "bicycles_allowed": true,
                      "dogs_allowed": true,
                      "links": {
                        "self": "https://api.example.com/trips/4d67459c-af07-40bb-bb12-178dbb88e09f",
                        "origin": "https://api.example.com/stations/b2e783e1-c824-4d63-b37a-d8d698862f1d",
                        "destination": "https://api.example.com/stations/efdbb9d1-02c2-4bc3-afb7-6788d8782b1e"
                      }
                    }
                  ],
                  "links": {
                    "self": "https://api.example.com/trips?origin=efdbb9d1-02c2-4bc3-afb7-6788d8782b1e&destination=b2e783e1-c824-4d63-b37a-d8d698862f1d&date=2024-02-01",
                    "next": "https://api.example.com/trips?origin=efdbb9d1-02c2-4bc3-afb7-6788d8782b1e&destination=b2e783e1-c824-4d63-b37a-d8d698862f1d&date=2024-02-01&page=2"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "description": "This is a generic request/response wrapper which contains both data and links which serve as hypermedia controls (HATEOAS).",
                      "type": "object",
                      "properties": {
                        "data": {
                          "description": "The wrapper for a collection is an array of objects.",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "links": {
                          "description": "A set of hypermedia links which serve as controls for the client.",
                          "type": "object",
                          "readOnly": true
                        }
                      },
                      "xml": {
                        "name": "data"
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "xml": {
                            "name": "trips",
                            "wrapped": true
                          },
                          "items": {
                            "description": "A train trip.",
                            "type": "object",
                            "xml": {
                              "name": "trip"
                            },
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Unique identifier for the trip",
                                "examples": [
                                  "4f4e4e1-c824-4d63-b37a-d8d698862f1d"
                                ]
                              },
                              "origin": {
                                "type": "string",
                                "description": "The starting station of the trip",
                                "examples": [
                                  "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                                  "b2e783e1-c824-4d63-b37a-d8d698862f1d"
                                ]
                              },
                              "destination": {
                                "type": "string",
                                "description": "The destination station of the trip",
                                "examples": [
                                  "b2e783e1-c824-4d63-b37a-d8d698862f1d",
                                  "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e"
                                ]
                              },
                              "departure_time": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date and time when the trip departs",
                                "examples": [
                                  "2024-02-01T10:00:00Z"
                                ]
                              },
                              "arrival_time": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date and time when the trip arrives",
                                "examples": [
                                  "2024-02-01T16:00:00Z"
                                ]
                              },
                              "operator": {
                                "type": "string",
                                "description": "The name of the operator of the trip",
                                "examples": [
                                  "Deutsche Bahn",
                                  "SNCF"
                                ]
                              },
                              "price": {
                                "type": "number",
                                "description": "The cost of the trip",
                                "examples": [
                                  50
                                ]
                              },
                              "bicycles_allowed": {
                                "type": "boolean",
                                "description": "Indicates whether bicycles are allowed on the trip"
                              },
                              "dogs_allowed": {
                                "type": "boolean",
                                "description": "Indicates whether dogs are allowed on the trip"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "links": {
                          "allOf": [
                            {
                              "description": "The link to the current resource.",
                              "type": "object",
                              "properties": {
                                "self": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            },
                            {
                              "description": "Links to the next and previous pages of a paginated response.",
                              "type": "object",
                              "properties": {
                                "next": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "prev": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "The request is invalid or missing required parameters."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "The request is invalid or missing required parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "You do not have the necessary permissions."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "You do not have the necessary permissions."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/forbidden",
                  "title": "Forbidden",
                  "status": 403,
                  "detail": "Access is forbidden with the provided credentials."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/forbidden",
                  "title": "Forbidden",
                  "status": 403,
                  "detail": "Access is forbidden with the provided credentials."
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              },
              "Retry-After": {
                "description": "The Retry-After header indicates how long the user agent should wait before making a follow-up request. \nThe value is in seconds and can be an integer or a date in the future. \nIf the value is an integer, it indicates the number of seconds to wait. \nIf the value is a date, it indicates the time at which the user agent should make a follow-up request. \n",
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "integer": {
                    "value": "120",
                    "summary": "Retry after 120 seconds"
                  },
                  "date": {
                    "value": "Fri, 31 Dec 2021 23:59:59 GMT",
                    "summary": "Retry after the specified date"
                  }
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/too-many-requests",
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "You have exceeded the rate limit."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/too-many-requests",
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "You have exceeded the rate limit."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/internal-server-error",
                  "title": "Internal Server Error",
                  "status": 500,
                  "detail": "An unexpected error occurred."
                }
              },
              "application/problem+xml": {
                "schema": {
                  "description": "A problem detail object as defined in RFC 7807.",
                  "type": "object",
                  "xml": {
                    "name": "problem",
                    "namespace": "urn:ietf:rfc:7807"
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URI reference that identifies the problem type",
                      "examples": [
                        "https://example.com/probs/out-of-credit"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, human-readable summary of the problem type",
                      "examples": [
                        "You do not have enough credit."
                      ]
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human-readable explanation specific to this occurrence of the problem",
                      "examples": [
                        "Your current balance is 30, but that costs 50."
                      ]
                    },
                    "instance": {
                      "type": "string",
                      "description": "A URI reference that identifies the specific occurrence of the problem",
                      "examples": [
                        "/account/12345/msgs/abc"
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code",
                      "examples": [
                        400
                      ]
                    }
                  }
                },
                "example": {
                  "type": "https://example.com/errors/internal-server-error",
                  "title": "Internal Server Error",
                  "status": 500,
                  "detail": "An unexpected error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/bookings": {
      "get": {
        "operationId": "get-bookings",
        "summary": "List existing bookings",
        "description": "Returns a list of all trip bookings by the authenticated user.",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "A list of bookings",
            "headers": {
              "Cache-Control": {
                "description": "The Cache-Control header communicates directives for caching mechanisms in both requests and responses. \nIt is used to specify the caching directives in responses to prevent caches from storing sensitive information.\n",
                "schema": {
                  "type": "string",
                  "description": "A comma-separated list of directives as defined in [RFC 9111](https://www.rfc-editor.org/rfc/rfc9111.html).",
                  "examples": [
                    "max-age=3600",
                    "max-age=604800, public",
                    "no-store",
                    "no-cache",
                    "private"
                  ]
                }
              },
              "RateLimit": {
                "description": "The RateLimit header communicates quota policies. It contains a `limit` to\nconvey the expiring limit, `remaining` to convey the remaining quota units,\nand `reset` to convey the time window reset time.\n",
                "schema": {
                  "type": "string",
                  "examples": [
                    "limit=10, remaining=0, reset=10"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "This is a generic request/response wrapper which contains both data and links which serve as hypermedia controls (HATEOAS).",
                      "type": "object",
                      "properties": {
                        "data": {
                          "description": "The wrapper for a collection is an array of objects.",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "links": {
                          "description": "A set of hypermedia links which serve as controls for the client.",
                          "type": "object",
                          "readOnly": true
                        }
                      },
                      "xml": {
                        "name": "data"
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "description": "A booking for a train trip.",
                            "type": "object",
                            "xml": {
                              "name": "booking"
                            },
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Unique identifier for the booking",
                                "readOnly": true,
                                "examples": [
                                  "3f3e3e1-c824-4d63-b37a-d8d698862f1d"
                                ]
                              },
                              "trip_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Identifier of the booked trip",
                                "examples": [
                                  "4f4e4e1-c824-4d63-b37a-d8d698862f1d"
                                ]
                              },
                              "passenger_name": {
                                "type": "string",
                                "description": "Name of the passenger",
                                "examples": [
                                  "John Doe"
                                ]
                              },
                              "has_bicycle": {
                                "type": "boolean",
                                "description": "Indicates whether the passenger has a bicycle."
                              },
                              "has_dog": {
                                "type": "boolean",
                                "description": "Indicates whether the passenger has a dog."
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "links": {
                          "allOf": [
                            {
                              "description": "The link to the current resource.",
                              "type": "object",
                              "properties": {
                                "self": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            },
                            {
                              "description": "Links to the next and previous pages of a paginated response.",
                              "type": "object",
                              "properties": {
                                "next": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "prev": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                      "trip_id": "efdbb9d1-02c2-4bc3-afb7-6788d8782b1e",
                      "passenger_name": "John Doe",
                      "has_bicycle": true,
                      "has_dog": true
                    },
                    {
                      "id": "b2e783e1-c824-4d63-b37a-d8d698862f1d",
                      "trip_id": "b2e783e1-c824-4d63-b37a-d8d698862f1d",
                      "passenger_name": "Jane Smith",
                      "has_bicycle": false,
                      "has_dog": false
                    }
                  ],
                  "links": {
                    "self": "https://api.example.com/bookings",
                    "next": "https://api.example.com/bookings?page=2"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "description": "This is a generic request/response wrapper which contains both data and links which serve as hypermedia controls (HATEOAS).",
                      "type": "object",
                      "properties": {
                        "data": {
                          "description": "The wrapper for a collection is an array of objects.",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "links": {
                          "description": "A set of hypermedia links which serve as controls for the client.",
                          "type": "object",
                          "readOnly": true
                        }
                      },
                      "xml": {
                        "name": "data"
                      }
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "xml": {
                            "name": "bookings",
                            "wrapped": true
                          },
                          "items": {
                            "description": "A booking for a train trip.",
                            "type": "object",
[...]
